<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h2>Aplikacja "Rejestr Produktów"</h2>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h3>Zadanie:</h3>
        <p>Stworzyć aplikację zarządzanie tabelką produkty. Aplikacja ma umożliwić wykonywanie podstawowych operacji CRUD na rekordach tabeli. Aplikacja powinna działać w oparciu o wzorzec: Single-page application.</p>
        <div class="panel panel-default">
            <div class="panel-body">
                <ul>
                    <h4>Podstawowe wymagane funkcjonalności aplikacji:</h4>
                    <li>Tabela z listą produktów</li>
                    <li>Formularz dodania/edycji produktu</li>
                    <li>Usuwanie produktów</li>
                    <li>Należy wykorzystać bieżący szkielet aplikacji:<br/>
                        - katalog "client", warstwa klienta (HTML, JS, CSS)<br/>
                        - katalog "server", warstwa serwera, (PHP - REST API) </li>                    
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <ul>
                    <h4>Dodatkowe mile widziane funkcjonalności:</h4>
                    <li>Paginacja tabeli produktów</li>
                    <li>Możliwość sortowania elementów tabeli w kolumnach</li>
                    <li>Możliwość wyszukiwania elementów w tabeli</li>
                    <li>Formularz dodania/edycji produktu umieszczony w oknie modalnym</li>
                </ul>
            </div>
        </div>
        <h3>Krótki opis aplikacji:</h3>
        <p>W głównym widoku aplikacji powinna znajdować się tabela (GRID) z listą dostępnych produktów. Przy każdym z nich powinna być dostępna akcja z możliwością edycji i usunięcia produktu. Nad tabelką powinien znajdować się przycisk umożliwiający dodanie nowego produktu.</p>

    </div>
    <div class="col-md-6">
        <h3>Technologie użyte do realizacji zadania:</h3>
        <div class="well">
            <ul>
                <h4>Warstwa Klienta:</h4>
                <li>Framework AngularJS (obowiązkowy)</li>
                <li>HTML</li>
                <li>JavaScript</li>
                <li>Dowolne inne, dodatkowe narzędzia JS, CSS, moduły AngularJS</li>
            </ul>
        </div>
        <div class="well">
            <ul>
                <h4>Warstwa Serwera:</h4>
                <li>PHP</li>
                <li>lub dowolny Framework PHP (np. Yii, Yii2)</li>
            </ul>
        </div>
        <div class="well">
            <ul>
                <h4>DB:</h4>
                <li>Należy wykorzystać bazę umieszczoną w projkecie: Katalog server/db.</li>
                <li>Można korzystać z dowolnej wybranej bazy danych: MySql, PgSql, SQLite; lub całą obsługę zrobić na plikach JSON lub CSV</li>
            </ul>

        </div>

    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
           <div class="panel-body">
            <h3>Uruchomienie Aplikacji:</h3>
               <p>Do uruchomienia aplikacji potrzebny jest serwer http ( Apache,Nginx lub inny). Po sklonowaniu aplikacji należy pobrać potrzebne biblioteki. Aby to zrobić trzeba skorzystać z narzędzia „bower”. Opis instalacji znajdziemy pod adresem: <a href="http://bower.io/#install-bower">http://bower.io/#install-bower</a> Po instalacji narzędzia przechodzimy do katalogu ‘client’ i z linii komend wykonujemy polecenie: <kbd>$ bower update</kbd> To polecenie pobierze nam potrzebne biblioteki do uruchomienia aplikacji. Pobrane biblioteki znajdują się w katalogu 'vendor'. Jeśli chcemy dodać kolejną bibliotekę aktualizujemy plik 'bower.json' a następnie wykonujemy polecenie: <kbd>$ bower update</kbd>.</p>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
           <div class="well">
            <h3>Przesłanie aplikacji:</h3>
            <p>Prosimy o przesłanie gotowej aplikacji w formie paczki .zip pod adres e-mail wskazany w rekrutacji. Prosimy o nie dołączanie do aplikacji katalogu vendor.</p>
            <p>Najlepszym sposobem na przesłanie aplikacji będzie umieszczenie jej w repozytorium GIT (<a href="https://github.com/">GitHub</a>, <a href="https://bitbucket.org/">Bitbucket</a>) a następnie przesłanie linka z możliwością sklonowania aplikacji pod wskazany wcześniej adres e-mail.</p>
            </div>

    </div>
</div>
